$grid-base--full: 12;
$grid-span--full: #{1} / #{-1};
$grid-base--wide: 8;
$grid-span--wide: #{3} / #{11};
$grid-base--content: 4;
$grid-span--content: #{5} / #{9};
$gutter: 30px;

$template-columns--wide: repeat($grid-base--wide, 1fr);
$template-columns--full: repeat($grid-base--full, 1fr);


@mixin grid ($size) {
    display: grid;
    gap: $gutter;
    grid-template-columns: repeat($size, 1fr);
}

article {
    @include grid($grid-base--full);
}

.entry__header {
    grid-column: $grid-span--content;
}

.entry__content {
    grid-column: $grid-span--full;

    @include grid($grid-base--full);

    >*:not(.alignwide):not(.alignfull) {
        grid-column: $grid-span--content;
    }
}

.entry__footer {
    grid-column: $grid-span--content;
}

.alignwide {
    grid-column: $grid-span--wide;

    >.wp-block-group__inner-container {
        @include grid($grid-base--wide);

        >*:not(.alignwide):not(.alignfull) {
            grid-column: 3/7;
        }

        >*.alignwide {
            grid-column: $grid-span--full;
        }
    }
}

.alignfull {
    grid-column: $grid-span--full;

    >.wp-block-group__inner-container {
        @include grid($grid-base--full);

        >*:not(.alignwide):not(.alignfull) {
            grid-column: $grid-span--content;
        }
    }
}