.sticky {}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.error__container,
.entry__content,
.entry__summary {
	margin: 1.5em 0 0;
}

.page__links {
	clear: both;
	margin: 0 0 1.5em;
}